/*contact section*/
.contact_container{
    padding: 10px;
}

.contact-form {
    max-width: 600px;
    margin: auto;
    width: 100%;
    display: grid;
    row-gap: 1rem;
  }
  
  .contact-form input, .contact-form textarea {
    border: none;
    outline: none;
    font-size: 0.9rem;
    padding: 15px;
    color: var(--main);
    border-radius: 0.4rem;
  }
  
  .contact-form .send-btn {
    width: 120px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px;
    background: var(--main);
    color: var(--background);
    cursor: pointer;
  }
  
  .contact-form .send-btn:hover {
    background: var(--background);
    color: var(--main);
    border: var(--main) 1px solid;
    border-radius: 5px;
    transition: 0.3s all linear;
  } 