/*intro section*/

html {
  scroll-behavior: smooth;
}

.intro {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.intro img {
  width: 10rem;
  height: auto;
  border-radius: 50%;
  animation: pulse 1s infinite;
}

@keyframes pulse{
0% {
  box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
}
100% {
  box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);
}
} 

.intro h1{
  color: #0a3d62;
  margin: 1.5rem 0;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
}

.intro p {
  color: #0a3d62;
}

.arrow {
  color: white;
  margin-top: 5rem;
  font-size: 5rem;
  animation: arrow 2s ease-in-out infinite;
}

@keyframes arrow{
  0%{ color:#3c6382;}
  50%{color: #0a3d62;}
  100%{color: #3c6382;}
}

/*about section*/

.skills_container {
  width: 80%;
  margin: auto;
  padding: 0 15px;
}

.headline {
  color: #0a3d62;
  font-size: 35px;
  text-transform: capitalize;
  margin-bottom: 0;
}

.divider {
  width: 150px;
  margin: 10px 0 20px 0;
  border-top: 1px solid;
  border-radius: 5px;
  color: #0a3d62;
}

.center {
  text-align: center;
  display: block;
  margin: 10px auto 20px auto;
}

.section-padding {
  padding: 50px 0;
}

.skills-wrapper {
  display: flex;
  grid-gap: 30px;
  margin-top: 50px;
}

.skills-card{
  flex: 1;
  padding: 40px 20px;
  text-align: center;
  border: 2px solid #0a3d62;
  transition: all 0.30s ease 0s;
}

.skills-card:hover {
  background: #0a3d62;
  color: #F5E1FD;
}

.skills-icon {
  width: 70px;
  height: 70px;
  margin: auto;
  background: #0a3d62;
  color: #F5E1FD;
  font-size: 35px;
  line-height: 80px;
  border-radius: 50px;
  transform: translateY(0);
  transition: all 0.30s ease 0s;
}

.skills-card:hover .skills-icon{
  transform: translateY(-100%);
}

.skills-card h3 {
  position: relative;
  top: 40px;
  font-size: 23px;
  color: #0a3d62;
  text-transform: uppercase;
  transform: translateY(0);
  transition: all 600ms cubic-bezier(0.68, 0.55, 0.265, 1.55) 0s;
}

.skills-card:hover h3 {
  top: -40px;
  color: #F5E1FD;
}

.skills-card p{
  opacity: 0;
  margin-bottom: 0;
  transition: all 0.30s ease 0s;
}

.skills-card:hover p{
  opacity: 1;
  transition-delay: 0.2s;
}