h2 {
    font-weight: bold;
}

.about, .project-container, .skills-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
}

.about p {
  max-width: 600px;
  margin: 0 auto;
}


.scroll-projects {
  height: 20rem;
  width: 18.75rem;
  overflow: auto;
  margin: 0 auto;
}

.output {
  margin-top: 2rem;
}

button {
  float: right;
  margin: 10px 30px;
  padding: 10px;
  cursor: pointer;
  background-color:#F5E1FD;
  border-radius: 3px;
  border: none;
  box-shadow: -3px 3px 6px #a21085;
}

  .singel-project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 1rem;
  }

  .item-1 {
    border: #5D157E 3px solid;
    color: #5D157E; 
}

.item-2 {
    border: #103444 3px solid; 
    color: #103444;
}

.item-3 {
    border: #a21085 3px solid; 
    color: #a21085;
}

.item-1, .item-2, .item-3 {
    border-radius:0 40px 0 40px;
}

  img {
    width: 100%;
    border-radius: 0 40px;
  }

  .project-details {
    display: flex;
    flex-direction: column;
}

  .buttons {
    display: flex;
    flex-direction: column;
  }