h2 {
    font-weight: bold;
}

.project-container {
    margin: auto;
    padding: 20px;
}

  .singel-project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 4rem auto;
  }

  .reverse {
    flex-direction: row-reverse;

  }

  .item-1 {
    border: #5D157E 3px solid;
    color: #5D157E; 
}

.item-2 {
    border: #103444 3px solid; 
    color: #103444;
}

.item-3 {
    border: #a21085 3px solid; 
    color: #a21085;
}

.item-1, .item-2, .item-3 {
    border-radius:0 40px 0 40px;
}

  img {
    width: 100%;
    border-radius: 0 40px;
  }

  .project-details {
    display: flex;
    flex-direction: column;
    flex: 0 0 90%;
}

  p {
    margin: 10px;
    padding: 20px;
    text-align: left;
  }

  .buttons {
    display: flex;
    flex-direction: column;
  }