@import "imports/links.css";
@import "imports/variables.css";

@font-face {
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  }

body{
    font-family: var(--text), sans-serif;
    margin: 0;
    background-color: var(--background);
    color: var(--main);
}


/*header*/
header{
  display: block;
  margin: 20px;
  min-height: 50px;
}

/*header navigation*/

nav {
  margin-left: 25px;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  right: 0px;
  text-align: center;
  background:  var(--background);
  color: var(--main);
}

nav ul {
  padding: 0px;
}

nav li {
  display: block;
  padding: 20px 30px;
}

nav li span {
  padding-left: 5px;
}

#menu-icon {
  display: none;
}

.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin: 0 30px;
  cursor: pointer;
  color: var(--main);
}


#menu-icon:checked ~ nav {
  display: block;
}


.divider {
  border-top: 3px solid;
  border-radius: 5px;
  margin: 20px;
}

/*global styles*/
.headline {
  color: #0a3d62;
  font-size: 35px;
  text-transform: capitalize;
  margin-bottom: 0;
}

.divider {
  width: 150px;
  margin: 10px 0 20px 0;
  border-top: 1px solid;
  border-radius: 5px;
  color: #0a3d62;
}

.center {
  text-align: center;
  display: block;
  margin: 10px auto 20px auto;
}

/*footer*/
footer i {
  background: white;
  color: #0a3d62;
  padding: 0.5rem;
  margin: 1rem 0.2rem;
  border-radius: 50%;
  transition: 0.4s;
}

footer h3 {
  color: #0a3d62;
}

footer i:hover{
  background: #0a3d62;
  color: white;
  cursor: pointer;
}

footer {
  text-align: center;
}

